<div class="spot-container">
	<div>
		<img src="assets/images/mesa.jpg">
	</div>
	<div class="spot-data flex-center">
		<div class="subcontainer">
			<div class="row padding-bottom">
				<div class="col-md-6 col-xs-6 flex-center text-bold">
					{{spot.min}}
				</div>
				<div class="col-md-6 col-xs-6  flex-center text-bold">
					{{spot.max}}
				</div>
			</div>
			<div class="row padding-bottom">
				<div class="col-md-6 col-xs-6 flex-center subtitle">
					<strong>Min</strong>
				</div>
				<div class="col-md-6 col-xs-6 flex-center subtitle">
					<strong>Máx</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="flex-center">
		<button type="button" class="btn btn-primary" (click)="saveReserve()">Reservar</button>
	</div>
</div>
